terraform.tfvars
*.raw
.mutagen*
/linuxkit
.terraform
*.tfstate*
node_modules/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.log
yarn.lock
.nyc_output/
coverage.lcov
.nyc_output/
coverage.lcov
python_modules/
terraform/proto
terraform/debug
terraform/tmp
refactor-aws
*.sw*
.nixconfig
